{% extends 'layout-app.html' %}

{% set hub = "Your health" %}

{% set backLink = true %}

{% set pageHeading = "Ask to reschedule your appointment" %}


{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% include "components/provider-banner/include.html" %}

      <!--<strong class="nhsapp-tag nhsapp-tag--red nhsuk-u-static-margin-bottom-2">Action needed</strong>-->

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSecondary: true
      })}}

  

      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-4",
        rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: "Wednesday 1 May 2024"
          }
        },
        {
          key: {
            text: "Time"
          },
          value: {
            html: "9:40am"
          }
        },
        {
          key: {
            text: "Appointment type"
          },
          value: {
            html: "Orthopaedics"
          }
        },
          {
            key: {
              text: "Location"
            },
            value: {
              html: "Croydon University Hospital, The Willows, Croydon, RJ6"
            }
          },
          {
            key: {
              text: "Clinician"
            },
            value: {
              text: "Dr Donald Glover"
            }
          }
        ]
      }) }}

     


        

            <h2 class="nhsuk-heading-m">How a request works</h2>
            <p class="nhsuk-body">The booking team will process your request to reschedule. This will take approximately 48 hours. 
              <p class="nhsuk-u-margin-bottom-4"></p>
             <p class="nhsuk-body">

              The original appointment may remain visible until the date has passed.</p>
            <form>

 
            

      
      <a href="/wayfinder/reschedule-appointment/reason.html" class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Start
      </a>

      <!-- SECTION -->
      {{ nhsappSectionHeading({
        headingText: "Get help with this task",
        subheadingText: "Contact the booking team on 01234 567 891"
      }) }}
      



      
    </div>
  </div>

  {% endblock %}
